page-show-comments {

  .chatBubble{

    img.profile-pic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      bottom: 10px;
    }

    img.profile-pic.left {
      left: 10px;
    }

    img.profile-pic.right {
      right: 10px;
    }

    .message {
      font-size: medium;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    .message-detail {
      white-space: nowrap;
      font-size: 14px;
    }

    .chat-bubble {
      position: relative;
      padding: 15px;
      margin: 1em 0 3em;
      color: #fff;
      background: #075698;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
      background: -moz-linear-gradient(#2e88c4, #075698);
      background: -o-linear-gradient(#2e88c4, #075698);
      background: linear-gradient(#2e88c4, #075698);
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }

    .chat-bubble:before {
      content: "\00a0";
      display: block;
      height: 16px;
      width: 9px;
      position: absolute;
      bottom: -7.5px;
    }

    .chat-bubble.left {
      float: left;
      margin-left: 45px;
    }

    .chat-bubble.left:before {
      left: 10px;
      -webkit-transform: rotate(70deg) skew(5deg);
    }

    .chat-bubble.right {
      color: #000;
      float: right;
      margin-right: 45px;
    }

    .chat-bubble.right:before {
      right: 10px;
      -webkit-transform: rotate(118deg) skew(-5deg);
    }

    .chat-bubble.right a.autolinker {
      color: #000;
      font-weight: bold;
    }
  }

}
