<ion-header>

  <ion-toolbar>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>My Trips</ion-title>
    </ion-navbar>
    <ion-buttons end>

      <button ion-button icon-only end (click)="showFriendRequests()" >
        <ion-label>{{newFriendRequests.length}}</ion-label>
        <ion-icon name="ios-notifications-outline" *ngIf="newFriendRequests.length===0"></ion-icon>
        <ion-icon name="notifications" style="color: #ffd53e;" *ngIf=" newFriendRequests.length!==0"></ion-icon>
      </button>
      <button  ion-button icon-only color="royal" (click)="addTrip()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item ion-item detail-push *ngFor="let item of items" (click)="itemTapped($event, item._id)">
      <ion-icon name="map" icon-left></ion-icon>
      {{item.name}}
      <!--<ion-note item-right>
        {{item.createdAt}}
      </ion-note>-->
    </ion-item>

  </ion-list>
</ion-content>
