page-trip {

.map-container {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

  .heard {
    color: #ff2f2e;
    //position: absolute;
    //left: 0px;
    //top: 0px;
    z-index: -1;
  }


  .comment {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

}
