<!--
  Generated template for the ShowUser page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{user.username || "UsernameTest"}}</ion-title>
    <ion-buttons end>
        <button ion-button icon-only end (click)="friendAction()" *ngIf="ownProfile===false" >
          <ion-icon *ngIf="count===0"><i class="fa fa-user-plus" aria-hidden="true"></i></ion-icon>
          <ion-icon *ngIf="count!==0"><i class="fa fa-user-times" aria-hidden="true"></i></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card style="width: 50%; height: auto; margin-right: auto; margin-left: auto">
    <ion-card-content>
      <img *ngIf="url" [src]="url" >
      <img *ngIf="!url" src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.jpg" >
    </ion-card-content>
  </ion-card>


  <ion-list>
    <ion-list-header color="light" style="text-align: center; color: black"><h2>Friends</h2></ion-list-header>
    <ion-item *ngFor="let friend of user.friends" (click)="showFriend(friend._id,friend.url)">
      <ion-icon item-left><i class="fa fa-user" aria-hidden="true"></i></ion-icon>
      {{friend.local.username}}
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light" style="text-align: center; color: black"><h2>Trips</h2></ion-list-header>
    <ion-item *ngFor="let trip of user.trips" (click)="showTrip(trip._id)">
      <ion-icon name="map" item-left></ion-icon>
      {{trip.name}}
    </ion-item>
  </ion-list>
</ion-content>
