<!--
  Generated template for the FriendRequestNotification page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notifications</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header color="light" style="text-align: center; color: black"><h2>Friend Requests</h2></ion-list-header>
    <p *ngIf="friendRequests.length === 0">No friend requests available<br><br></p>
    <ion-item *ngFor="let request of friendRequests">
      {{request.userFrom.local.username}}
      <button ion-button icon-only color="royal" (click)="accept(request.userFrom._id)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" (click)="reject(request.userFrom._id)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header color="light" style="text-align: center; color: black"><h2>Notifications</h2></ion-list-header>
    <p *ngIf="notifications.length === 0">No notifications available</p>
    <ion-item *ngFor="let notification of notifications" >
      <div (click)="displayTrip(notification.trip._id,notification._id)">
        {{notification.userFrom.local.username}} created a new Trip: {{notification.trip.name}}
      </div>
      <button ion-button icon-only color="royal" (click)="removeNotification(notification._id)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
